<h2>Welcome to your account</h2>

<p>Hello, {{username}}</p>

<a class="button" href="/newOrder">Create New Order</a>

<a class="button" href="/orderStatus">View Your Orders</a>

<a class="button" href="/logout">Log out</a>