<div class="centeredPages">

<h2>Sign In To Your Account</h2>
<h4>Enter Your Username and Password</h4>
<h6>* indicates a required field</h6>

<!-- Log in failure messages -->
<ul>
    {{#each messages}}
        <li>{{this}}</li>
    {{/each}}
</ul>

<form method="POST" action="/login" id="loginForm">
    * Username: <input name="username"/>
    * Password: <input type="password" name="password"/>

    <input type="submit" value="Sign in">
</form>

<p>If you don't have an account, you can
    <a href="/signup">Sign up here</a>
</p>

</div>


