<h1>Submit New Order Form</h1>

<div class="new-order">

    <form method="POST" action="/newOrder">

        Item Name:          <input name="item" required>             <br>
        Description:        <input name="description" required>      <br>
        Price Range:        <input name="priceRange" required>       <br>
        Desired Ship Method <select name="shipMethod">
                            <option value="Ship by Airplane">Ship By Airplane (2-3 weeks)</option>
                            <option value="Ship by Boat">Ship by Boat (approx. 45 days)</option>
                            </select>
        <button type="submit">Submit Your Order Request</button>

    </form>

</div>