<h2>Thank you for submitting your order request.</h2>
<h3>Our staff will reach out to you within 72 hours to discuss options regarding pricing and shipping methods.</h3>

<a class="button" href="/accountHome">Return to Account Home Page</a>