<div class="centeredPages">

<h1>Orders</h1>

<div class="pending-orders">

    <h2>Pending Orders</h2>

    <table>
        <thead>
        <tr>
            <th>Item Name</th>
            <th>Order Status</th>
            <th>Order Details</th>
        </tr>
        </thead>
        <tbody>
        {{#each orders}}
        <tr>
            <td>{{this.item}}</td>
            <td>Pending</td>
            <td><a href="/shipping/{{this.id}}">{{this.item}} order details</a></td>
            {{else}}
            <td>No orders in the database</td>

        </tr>
        {{/each}}
        </tbody>
    </table>

</div>

<div class="complete-orders">

    <h2>Completed Orders</h2>

    <table>
        <thead>
        <tr>
            <th>Item Name</th>
            <th>Order Status</th>
            <th>Order Details</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>No orders in the database</td>
            <td></td>
            <td></td>
        </tr>
        </tbody>

    </table>

</div>

<a class="button" href="/newOrder">Create New Order</a>

<a class="button" href="/accountHome">Account Home Page</a>

<a class="button" href="/logout">Log out</a>

</div>