<div class="centeredPages2">

<div class="order-info">

    <h2>Order Information</h2>

    <h3>Description</h3>
    <p>{{description}}</p>

    <h3>Desired Price</h3>
    <p>${{priceRange}}</p>

    <h3>Desired Ship Method</h3>
    <p>{{shipMethod}}</p>

    <h3>Link to Product Website</h3>
    <p>{{productWebsite}}</p>

    <a class="button" href="/orderStatus">Back to All Orders</a>

</div>

</div>