<div class="centeredPages2">
<h2>Sign up for an account</h2>
<h6>* indicates a required field</h6>

<!-- Sign up failure messages -->
<ul>
    {{#each messages}}
        <li>{{this}}</li>
    {{/each}}
</ul>

<div class="container" id="signupForm">
    <form method="POST" action="/signup">
    <div class="row" id="rowOne">
        <div class="column">
            Step 1: Choose your username
        </div>

        <div class="column">
            * Username: <input name="username" id="username" />
        </div>
    </div>
    <div class="row">
        <div class="column">
            Step 2: Choose your password
        </div>
        <div class="column">
                * Password: <input type="password" id="password" name="password" onkeyup="check_password()" />
                * Re-Type Password: <input type="password" id="confirmPassword" name="passwordCheck" onkeyup="check_password()" /> <span id="matching"></span>
                <!-- two password fields for user to confirm the text typed -->
        </div>
    </div>
    <!--<div class="row">-->
        <!--<div class="column">-->
            <!--Step 3: Enter your contact information-->
        <!--</div>-->
        <!--<div class="column">-->
                <!--* First Name: <input name="firstName" id="firstName" />-->
                <!--* Last Name: <input name="lastName" id="lastName"/>-->
        <!--</div>-->
        <!--<div class="column">-->
                <!--* Email Address: <input type="email" name="email" id="email" />-->
                <!--* Re-Type Email Address: <input type="email"  name="email2" id="email2" />-->
                <!--* Phone Number: <input type="number" name="phone" id="phone"/>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="row">-->
        <!--<div class="column">-->
            <!--Step 4: Enter your home address-->
        <!--</div>-->
        <!--<div class="column">-->
                <!--* Country: <select name="country" id="country">-->
                <!--<option value="United States">United States</option>-->
                <!--<option value="Kenya">Kenya</option>-->
                <!--</select>-->
                <!--&lt;!&ndash; TODO make Country field a drop down with all the countries &ndash;&gt;-->
                <!--&lt;!&ndash; TODO when user selects country, change address format based on country &ndash;&gt;-->
                <!--* Address Line 1: <input name="addressLine1" id="addressLine1"/>-->
                <!--Address Line 2: <input name="addressLine2" id="addressLine2"/>-->
                <!--* City: <input name="city" id="city"/>-->
                <!--State/Province: <input name="province" id="province"/>-->
                <!--Postal Code: <input name="postalCode" id="postalCode"/>-->
        <!--</div>-->
    <!--</div>-->
    <div class="row">
        <div class="column"></div>
        <div class="column column-50 column-offset-25">
                <input type="submit" id="submit" value="Sign up">

        </div>
    </div>
    </form>


</div>

<p>If you already have an account, you can
    <a href="/login">Sign in here</a>
</p>

<script>
    function check_password() {
        if (document.getElementById('password').value === document.getElementById('confirmPassword').value) {
            document.getElementById('matching').style.color = 'green';
            document.getElementById('matching').innerHTML = 'passwords match';
            document.getElementById('submit').disabled = false;
        } else {
            document.getElementById('matching').style.color = 'red';
            document.getElementById('matching').innerHTML = 'passwords don\'t match';
            document.getElementById('submit').disabled = true;
        }

    }

</script>
</div>



