<h2>Sign up for an account</h2>
<h6>* indicates a required field</h6>

<!-- Sign up failure messages -->
<ul>
    {{#each messages}}
        <li>{{this}}</li>
    {{/each}}
</ul>

<div class="container">

    <div class="row">
        <div class="column">
            Step 1: Choose your language and username
        </div>

        <div class="column">
            <form method="POST" action="/signup">
                Choose a language preference: <select name="language">
                <option value="English">English</option>
                <option value="Swahili">Swahili</option></select>
                <!-- TODO when user chooses language, website changes to that language -->
                * Username: <input name="username" required/>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="column">
            Step 2: Choose your password
        </div>
        <div class="column">
            <form method="POST" action="/signup">
                * Password: <input type="password" name="password" required/>
                * Re-Type Password: <input type="password" name="password" required/>
                <!-- TODO two password fields for user to confirm the text typed -->
            </form>
        </div>
    </div>
    <div class="row">
        <div class="column">
            Step 3: Enter your contact information
        </div>
        <div class="column">
            <form method="POST" action="/signup">
                Title: <select name="nameTitle">
                <option value="select">Select</option>
                <option value="mr">Mr</option>
                <option value="mrs">Mrs</option>
                <option value="ms">Ms</option>
                <option value="miss">Miss</option>
                <option value="miss">Dr</option>
                </select>
                * First Name: <input name="firstName" required/>
                M.I. <input name="middleInitial"/>
                * Last Name: <input name="lastName" required/>
            </form>
        </div>
        <div class="column">
            <form method="POST" action="/signup">
                * Email Address: <input name="email" required/>
                * Re-Type Email Address: <input name="email" required/>
                * Phone Number: <input name="phone" required/>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="column">
            Step 4: Enter your home address
        </div>
        <div class="column">
            <form method="POST" action="/signup">
                * Country: <select name="country">
                <option value="United States">United States</option>
                <option value="Kenya">Kenya</option>
                </select>
                <!-- TODO make Country field a drop down with all the countries -->
                <!-- TODO when user selects country, change address format based on country -->
                * Address Line 1: <input name="addressLine1" required/>
                Address Line 2: <input name="addressLine2"/>
                Address Line 3: <input name="addressLine3"/>
                * City: <input name="city" required/>
                State/Province: <input name="province"/>
                Postal Code: <input name="postalCode"/>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="column"></div>
        <div class="column column-50 column-offset-25">
            <form method="POST" action="/signup">
                <input type="submit" value="Sign up">
            </form>
        </div>
    </div>



</div>

<p>If you already have an account, you can
    <a href="/login">Sign in here</a>
</p>

<h2>Sign in with Facebook</h2>

<p>Or you can <a href="/auth/facebook">use your Facebook account to sign in</a></p>




