body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /*max-width: 500px;*/
  margin: auto;
  background-color: whitesmoke;
  background: url("../images/palmTrees.jpg") no-repeat;
  background-size: cover;
}

.centeredPages {
  margin: auto;
  background-color: whitesmoke;
  border-radius: 15px;
  padding: 25px;
}









